<nav class="navbar fixed-top navbar-dark bg-dark" style="border-bottom: 1px solid var(--bs-warning)">
    <div class="container-fluid">
        <button class="btn btn-outline-light" data-bs-toggle="offcanvas" data-bs-target="#menuSidebar"
            aria-controls="menuSidebar"><i class="bi bi-list"></i> Menu</button>
        <a class="navbar-brand" href="https://www.mathflare.xyz">
            <img src="Assets/icon.png" class="user-select-none mb-1" style="height: 1em;" alt="logo">
            MathFlare.xyz
        </a>
    </div>
</nav>
<div class="offcanvas offcanvas-start" tabindex="-1" id="menuSidebar" aria-labelledby="menuLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="menuLabel"><img src="Assets/icon.png" class="user-select-none mb-1"
                style="height: 1em;" alt="logo"> Menu</h5>
        <button type="button" class="btn-close btn-close-white text-reset" data-bs-dismiss="offcanvas"
            aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <nav>
            <ul class="list-unstyled ps-0">
                <li class="py-1">
                    <a class="btn btn-offcanvas-link align-items-center rounded" href="index.html" id="home-link">
                        <i class="bi bi-house"></i>Home
                    </a>
                </li>
                <li class="py-1">
                    <a class="btn btn-offcanvas-link align-items-center rounded" href="calculator.html">
                        <i class="bi bi-calculator"></i>Scientific Calculator
                    </a>
                </li>
                <li class="py-1">
                    <a class="btn btn-offcanvas-link align-items-center rounded" href="cheatsheet.html">
                        <i class="bi bi-book"></i>Cheat Sheet
                    </a>
                </li>
                <li class="py-1">
                    <button class="btn btn-toggle btn-toggle-light align-items-center rounded collapsed"
                        data-bs-toggle="collapse" data-bs-target="#algebra-collapse" aria-expanded="false">
                        Algebra
                    </button>
                    <div class="collapse" id="algebra-collapse">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small my-1">
                            <li>
                                <p class="nav-header rounded user-select-none">Basic Algebra</p>
                            </li>
                            <li><a href="logar.html" class="link-light rounded text-truncate"><i
                                        class="bi bi-percent"></i>
                                    Logarithms</a></li>
                            <li><a href="roots.html" class="link-light rounded text-truncate"><i
                                        class="bi bi-calculator"></i>
                                    Root
                                    Calculator</a></li>
                            <li><a href="pow.html" class="link-light rounded text-truncate"><i class="bi bi-power"></i>
                                    Exponents(powers)</a>
                            </li>
                            <li><a href="avg.html" class="link-light rounded text-truncate"><i
                                        class="bi bi-pie-chart"></i> Average
                                    Calculator</a></li>
                            <li><a href="percent.html" class="link-light rounded text-truncate"><i
                                        class="bi bi-percent"></i>
                                    Percentage
                                    Calculator</a></li>
                            <li><a href="round.html" class="link-light rounded text-truncate"><i
                                        class="bi bi-arrows-collapse"></i>
                                    Round Numbers</a></li>
                            <li><a href="fractionreduction.html" class="link-light rounded text-truncate"><i
                                        class="bi bi-percent"></i>
                                    Fraction Reduction</a></li>
                            <li><a href="fractionaddition.html" class="link-light rounded text-truncate"><i
                                        class="bi bi-plus-lg"></i>
                                    Fractions Addition</a></li>
                            <li><a href="likefractions.html" class="link-light rounded text-truncate"><i
                                        class="bi bi-front"></i>
                                    Unlike to Like Fraction Converter</a></li>
                            <li><a href="fact.html" class="link-light rounded text-truncate"><i
                                        class="bi bi-exclamation-lg"></i>
                                    Factorials</a></li>
                            <li><a href="slope.html" class="link-light rounded text-truncate"><i
                                        class="bi bi-graph-up"></i> Slope
                                    Calculator</a></li>
                            <li><a href="pointsdistance.html" class="link-light rounded text-truncate"><i
                                        class="bi bi-rulers"></i>
                                    Distance
                                    Between two Points</a></li>
                            <li><a href="gcd.html" class="link-light rounded text-truncate"><i
                                        class="bi bi-sort-numeric-up-alt"></i>
                                    Greatest Common Devisor Calculator</a></li>
                            <li><a href="lcm.html" class="link-light rounded text-truncate"><i
                                        class="bi bi-sort-numeric-down-alt"></i>
                                    Least Common Multiple Calculator</a></li>
                            <li>
                                <p class="nav-header rounded user-select-none">Equations</p>
                            </li>
                            <li><a href="equations.html" class="link-light rounded text-truncate"><i
                                        class="bi bi-percent"></i> 1st
                                    Degree</a></li>
                            <li><a href="quadraticequations.html" class="link-light rounded text-truncate"><i
                                        class="bi bi-percent"></i> Quadratic
                                    Equations</a></li>
                            <li>
                                <p class="nav-header rounded user-select-none">Inequalities</p>
                            </li>
                            <li><a href="inequalities.html" class="link-light rounded text-truncate"><i
                                        class="bi bi-code"></i> 1st
                                    Degree</a></li>
                            <li>
                                <p class="nav-header rounded user-select-none">Systems of Equations</p>
                            </li>
                            <li><a href="linear-systems.html" class="link-light rounded text-truncate"><i
                                        class="bi bi-border-width"></i> Linear
                                    2&#215;2 Systems</a></li>
                            <li>
                                <p class="nav-header rounded user-select-none">Popular Problems</p>
                            </li>
                            <li><a href="handshake.html" class="link-light rounded text-truncate">🤝 Handshakes at
                                    Party</a></li>
                            <li><a href="numberpairs.html" class="link-light rounded text-truncate"><i
                                        class="bi bi-bezier2"></i>
                                    Number of Pairs</a></li>
                        </ul>
                    </div>
                </li>
                <li class="py-1">
                    <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                        data-bs-target="#geometry-collapse" aria-expanded="false">
                        Geometry
                    </button>
                    <div class="collapse" id="geometry-collapse">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small my-1">
                            <li>
                                <p class="nav-header rounded user-select-none">Basic Geometry</p>
                            </li>
                            <li><a href="perimeter.html" class="link-light rounded text-truncate"><i
                                        class="bi bi-bounding-box"></i>
                                    Perimeter
                                    Calculator</a></li>
                            <li><a href="area.html" class="link-light rounded text-truncate"><i
                                        class="bi bi-grid-3x3"></i> Area
                                    Calculator</a>
                            </li>
                            <li><a href="diagpolyg.html" class="link-light rounded text-truncate"><i
                                        class="bi bi-slash-square"></i>
                                    Diagonal
                                    Calculator</a></li>
                        </ul>
                    </div>
                </li>
                <li class="py-1">
                    <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                        data-bs-target="#trig-collapse" aria-expanded="false">
                        Trigonometry
                    </button>
                    <div class="collapse" id="trig-collapse">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small my-1">
                            <li>
                                <p class="nav-header rounded user-select-none">Basic Trigonometry</p>
                            </li>
                            <li><a href="trigcalculator.html" class="link-light rounded text-truncate"><i
                                        class="bi bi-calculator"></i>
                                    Trigonometric Calculator</a></li>
                            <li>
                                <p class="nav-header rounded user-select-none">Pythagorean Theorem</p>
                            </li>
                            <li><a href="phypotenuse.html" class="link-light rounded text-truncate"><i
                                        class="bi bi-symmetry-vertical"></i>
                                    Hypotenuse Calculator</a>
                            </li>
                            <li><a href="prightside.html" class="link-light rounded text-truncate"><i
                                        class="bi bi-symmetry-vertical"></i> Leg
                                    Calculator</a></li>
                        </ul>
                    </div>
                </li>
                <li class="py-1">
                    <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                        data-bs-target="#physics-collapse" aria-expanded="false">
                        Physics
                    </button>
                    <div class="collapse" id="physics-collapse">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small my-1">
                            <li>
                                <p class="nav-header rounded user-select-none">Basic Physics</p>
                            </li>
                            <li><a href="displacement.html" class="link-light rounded text-truncate"><i
                                        class="bi bi-arrow-left-right"></i>
                                    Displacement Calculator</a></li>
                        </ul>
                    </div>
                </li>
                <li class="py-1">
                    <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                        data-bs-target="#biology-collapse" aria-expanded="false">
                        Biology
                    </button>
                    <div class="collapse" id="biology-collapse">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small my-1">
                            <li>
                                <p class="nav-header rounded user-select-none">Genetics</p>
                            </li>
                            <li><a href="punnettsquare.html" class="link-light rounded text-truncate"><i
                                        class="bi bi-gender-ambiguous"></i>
                                    Punnett Square</a></li>
                            <li><a href="complementarydna.html" class="link-light rounded text-truncate"><i
                                        class="bi bi-link-45deg"></i>
                                    DNA Complement Generator</a></li>
                            <li><a href="complementaryrna.html" class="link-light rounded text-truncate"><i
                                        class="bi bi-link-45deg"></i>
                                    RNA Complement Generator</a></li>
                            <li><a href="proteintranslation.html" class="link-light rounded text-truncate"><i
                                        class="bi bi-hexagon"></i>
                                    Protein Translation</a></li>
                        </ul>
                    </div>
                </li>
                <li class="py-1">
                    <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                        data-bs-target="#chem-collapse" aria-expanded="false">
                        Chemistry
                    </button>
                    <div class="collapse" id="chem-collapse">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small my-1">
                            <li>
                                <p class="nav-header rounded user-select-none">Basic Chemistry</p>
                            </li>
                            <li><a href="subatomicparticles.html" class="link-light rounded text-truncate"
                                    style="max-width: 300px;" data-bs-toggle="tooltip" data-bs-placement="top"
                                    title="Atomic-Mass number to number of Subatomic Particles"><i
                                        class="bi bi-bullseye"></i>
                                    Atomic-Mass number to number of Subatomic Particles</a></li>
                            <li><a href="concentration.html" class="link-light rounded text-truncate"><i
                                        class="bi bi-eyedropper"></i>
                                    Solution Concentration</a></li>
                            <li><a href="inorganiccomp.html" class="link-light rounded text-truncate"><i
                                        class="bi bi-water"></i>
                                    Inorganic Compounds Calculator</a></li>
                            <li>
                                <p class="nav-header rounded user-select-none">Carbon Combustions</p>
                            </li>
                            <li><a href="carboncombustions.html" class="link-light rounded text-truncate"><i
                                        class="bi bi-minecart-loaded"></i>
                                    Complete Combustions</a></li>
                            <li><a href="imperfcarboncombust.html" class="link-light rounded text-truncate"><i
                                        class="bi bi-minecart-loaded"></i>
                                    Incomplete Combustions</a></li>
                            <li>
                                <p class="nav-header rounded user-select-none">Chemical Equations</p>
                            </li>
                            <li><a href="neutralization.html" class="link-light rounded text-truncate"><i
                                        class="bi bi-droplet"></i>
                                    Neutralization Reaction Calculator</a></li>
                            <li><a href="acidmetalreaction.html" class="link-light rounded text-truncate"><i
                                        class="bi bi-funnel"></i>
                                    Acid-Metal Reaction Calculator</a></li>
                            <li><a href="acidcarbonatereaction.html" class="link-light rounded text-truncate"><i
                                        class="bi bi-cloud"></i>
                                    Acid-Carbonate Reaction Calculator</a></li>
                        </ul>
                    </div>
                </li>
                <li class="py-1">
                    <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                        data-bs-target="#unit-converter-collapse" aria-expanded="false">
                        Unit Converter
                    </button>
                    <div class="collapse" id="unit-converter-collapse">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small my-1">
                            <li><a href="clenght.html" class="link-light rounded text-truncate"><i
                                        class="bi bi-rulers"></i>
                                    Lenght</a></li>
                            <li><a href="ctemp.html" class="link-light rounded text-truncate"><i
                                        class="bi bi-thermometer"></i>
                                    Temperature</a></li>
                            <li><a href="cspeed.html" class="link-light rounded text-truncate"><i
                                        class="bi bi-speedometer"></i>
                                    Speed</a></li>
                            <li><a href="cweight.html" class="link-light rounded text-truncate"><i
                                        class="bi bi-minecart-loaded"></i>
                                    Weight</a></li>
                        </ul>
                    </div>
                </li>
                <li class="py-1">
                    <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                        data-bs-target="#every-day-collapse" aria-expanded="false">
                        Every Day Life
                    </button>
                    <div class="collapse" id="every-day-collapse">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small my-1">
                            <li>
                                <p class="nav-header rounded user-select-none">Financial</p>
                            </li>
                            <li><a href="loan.html" class="link-light rounded text-truncate">
                                    <i class="bi bi-bank"></i>
                                    Loan Calculator</a></li>
                            <li>
                                <p class="nav-header rounded user-select-none">Fitness</p>
                            </li>
                            <li><a href="bmi.html" class="link-light rounded text-truncate"><i
                                        class="bi bi-speedometer2"></i> BMI
                                    Calculator</a></li>
                            <li>
                                <p class="nav-header rounded user-select-none">Other</p>
                            </li>
                            <li><a href="percent.html" class="link-light rounded text-truncate">
                                    <i class="bi bi-percent"></i>
                                    Percentage Calculator</a></li>
                            <li><a href="avg.html" class="link-light rounded text-truncate"><i
                                        class="bi bi-pie-chart"></i> Average
                                    Calculator</a></li>
                        </ul>
                    </div>
                </li>
                <li class="py-1">
                    <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                        data-bs-target="#links-collapse" aria-expanded="false">
                        Links
                    </button>
                    <div class="collapse" id="links-collapse">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small my-1">
                            <li>
                                <p class="nav-header rounded user-select-none">Contact</p>
                            </li>
                            <li><a href="contact.html" class="link-light rounded text-truncate"><i
                                        class="bi bi-telephone-fill"></i>
                                    Contact
                                    Form</a></li>
                            <li><a href="https://mathflare.statuspage.io/" target="_blank" rel="noopener"
                                    class="link-light rounded text-truncate"><i class="bi bi-graph-up"></i> Status
                                    Page</a>
                            </li>
                            <li><a href="https://github.com/mathflare" target="_blank" rel="noopener"
                                    class="link-light rounded text-truncate"><i class="bi bi-github"></i> GitHub</a>
                            </li>
                            <li><a href="mailto:contact@mathflare.xyz" target="_blank" rel="noopener"
                                    class="link-light rounded text-truncate"><i class="bi bi-envelope-fill"></i>
                                    Email</a></li>
                            <li><a href="https://discord.gg/kcjZKHtmuS" target="_blank" rel="noopener"
                                    class="link-light rounded text-truncate"><i class="bi bi-discord"></i> Discord
                                    Server</a>
                            </li>
                            <li><a href="https://twitter.com/mathflare" target="_blank" rel="noopener"
                                    class="link-light rounded text-truncate"><i class="bi bi-twitter"></i> Twitter</a>
                            </li>
                            <li><a href="https://instagram.com/mathflare" target="_blank" rel="noopener"
                                    class="link-light rounded text-truncate"><i class="bi bi-instagram"></i>
                                    Instagram</a></li>
                            <li><a href="https://api.mathflare.xyz" target="_blank" rel="noopener"
                                    class="link-light rounded text-truncate"><i class="bi bi-hdd-stack-fill"></i> REST
                                    API</a></li>
                            <li><a href="https://developers.mathflare.xyz" target="_blank" rel="noopener"
                                    class="link-light rounded text-truncate"><i class="bi bi-code-slash"></i> For
                                    Developers</a></li>
                            <li><a href="https://github.com/mathflare/mathflare/issues" target="_blank" rel="noopener"
                                    class="link-light rounded text-truncate"><i class="bi bi-bug-fill"></i> Report a
                                    Bug</a></li>
                            <li><a href="https://github.com/mathflare/mathflare/issues" target="_blank" rel="noopener"
                                    class="link-light rounded text-truncate"><i class="bi bi-lightbulb-fill"></i>
                                    Suggest an Edit</a>
                            </li>
                            <li>
                                <p class="nav-header rounded user-select-none">Legal</p>
                            </li>
                            <li><a href="tos.html" class="link-light rounded text-truncate"><i
                                        class="bi bi-card-checklist"></i> Terms
                                    of Use</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="border-top my-3"></li>
                <li class="py-1">
                    <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                        data-bs-target="#mathflareservices-collapse" aria-expanded="false">
                        MathFlare Services
                    </button>
                    <div class="collapse" id="mathflareservices-collapse">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small my-1">
                            <li><a href="https://linear-b.mathflare.xyz/" target="_blank" rel="noopener"
                                    class="link-light rounded text-truncate"><i class="bi bi-globe"></i>
                                    MathFlare Linear B Translator</a></li>
                        </ul>
                    </div>
                </li>
                <li class="py-1">
                    <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                        data-bs-target="#support-collapse" aria-expanded="false">
                        🍕 Support MathFlare
                    </button>
                    <div class="collapse" id="support-collapse">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small my-1">
                            <li><a href="https://www.paypal.me/mathflare" target="_blank" rel="noopener"
                                    class="link-light rounded text-truncate"><i class="bi bi-heart-fill"
                                        style="color: var(--bs-pink)"></i>
                                    PayPal Us</a></li>
                            <li><a href="https://buymeacoffee.com/mathflare" target="_blank" rel="noopener"
                                    class="link-light rounded text-truncate"><i class="bi bi-heart-fill"
                                        style="color: var(--bs-pink)"></i>
                                    Buy Us a Pizza</a></li>
                            <li><a href="https://ko-fi.com/mathflare" target="_blank" rel="noopener"
                                    class="link-light rounded text-truncate"><i class="bi bi-heart-fill"
                                        style="color: var(--bs-pink)"></i>
                                    Ko-Fi</a></li>
                            <li><a href="https://patreon.com/mathflare" target="_blank" rel="noopener"
                                    class="link-light rounded text-truncate"><i class="bi bi-heart-fill"
                                        style="color: var(--bs-pink)"></i>
                                    Patreon</a></li>
                        </ul>
                    </div>
                </li>
                <li class="border-top my-3"></li>
                <li>
                    <div class="input-group w-100">
                        <input type="search" class="form-control bg-dark text-white" id="search-box"
                            placeholder="Search Calculators...">
                        <button class="btn btn-outline-light" type="button" id="search-button">Search</button>
                    </div>
                </li>
                <li class="mt-2">
                    <p class="text-break" id="search-result"></p>
                </li>
                <li>
                    <p class="text-muted" style="padding: 0.5em;">&copy;2021 MathFlare.xyz - All rights reserved.</p>
                </li>
            </ul>
        </nav>
    </div>
</div>
<script>
    searcCalc();
</script>