* {
    scrollbar-width: thin;
    scrollbar-color: hsl(0, 0%, 53%) hsl(210, 10%, 15%);
}
::-webkit-scrollbar {
    width: 0.3em;
}
::-webkit-scrollbar-track {
    background-color: hsl(210, 10%, 15%);
}
::-webkit-scrollbar-thumb {
    background: hsl(0, 0%, 53%);
}
::-webkit-scrollbar-thumb:hover {
    background: hsl(0, 0%, 33%);
}
