/*for Chromium based browsers*/
:root {
    --liquido: #23272b;
    --grey: #888888;
  }
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background-color: var(--liquido);
}
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
/*for Firefox based browsers*/
* {
    scrollbar-width: thin;
    scrollbar-color: var(--grey) var(--liquido);
  }